@import "../../../style/mixin.scss";
@import "../../../style/variable.scss";

li {
  list-style: none;
}
.filter {
  padding: 2rem;

  &-item {
    padding: 1rem 0;
    &__heading {
      padding-bottom: 1rem;
      font-size: 2.3rem;
      font-weight: 700;
    }
    &__content {
      padding: 0.5rem 0;
      font-size: 1.4rem;
      color: $text-color;
      font-weight: 500;
      & input {
        outline: none;
        border: none;
        border-radius: 50%;
      }
      & label {
        padding-left: 1rem;
      }
    }
  }
}
