@import "./../../style/mixin.scss";
@import "./../../style/variable.scss";

.content {
  min-height: 500px;
  &_title {
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
  }
}
.button {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  cursor: pointer;

  & span {
    color: $light;
    background-color: $primary;
    display: inline-block;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: .2s linear;
    border-radius: .5rem;
    &:hover {
      opacity: 0.9;
      border-radius: 20px;
      box-shadow: $shadow;
    }
  }
}
