@import "./../../style/variable.scss";
@import "./../../style/mixin.scss";

.header {
  min-height: $headerHeight;
  @include d_flex;
  & .logo,
  & .navLeft,
  & .navRight {
    flex: 1;
  }
  @include md-screen {
    & .logo {
      flex: 0;
    }
  }
  & .iconMenu {
    display: none;
    @include sm-screen {
      display: block;
      flex: 1;
      z-index: 10001;
    }
    & .icon {
      @include sm-screen {
        font-size: 2rem;
        color: $primary;
      }
    }
  }

  & .navLeft {
    z-index: 10000;
    font-size: 2rem;
    color: $primary;
    transition: 0.4s linear;
    display: flex;
    &_link {
      font-weight: 600;
     
    }
    @include sm-screen {
      position: absolute;
      flex-direction: column;
      top: 0;
      left: -100%;
      box-shadow: $navbox-sd;
      height: 100vh;
      padding: 5rem;
      &_link {
        display: block;
        margin-top: 3rem;
        font-weight: 600;
      }
    }
    &_active {
      top: 0;
      left: 0%;
      width: 300px;
      background-color: $colorNav;
    }
    &_link:not(:last-child) {
      padding-right: 1rem;
    
      @include lg-screen {
      padding-right: 3rem;

      }
    }
    &_link:not(:first-child) {
      color: $dark;
      &:hover {
        color: $primary;
      }
    }
  }

  & .logo {
    text-align: center;
    &_img {
      width: 8rem;
    }
  }
  & .navRight {
    font-size: 2rem;
    color: $dark;
    text-align: end;
    z-index: 2000;
    span:not(:last-child) {
      padding-right: 3rem;
      @include sm-screen {
        padding-right: 2rem;
      }
    }
    & span:hover {
      color: $primary;
      cursor: pointer;
    }
  }
}
