
// color 
$light:#fff;
$text-color:rgb(100, 100, 100);
$primary:rgb(65, 103, 178);
$dark:rgb(46, 47, 51);
$colorNav:aliceblue ;

//size
$heightPd: 300px;
$headerHeight:8rem;

//shadow
$navbox-sd :0px 0px 20px 1px rgba(0, 0, 0, 0.3);
$shadow: 0px 0px 5px 1px rgba(83, 83, 83, 0.3);