
// color 
$light:#fff;
$text-color:rgb(173, 173, 173);
$primary:rgb(65, 103, 178);
$dark:rgb(46, 47, 51);
$colorNav:aliceblue ;

//size
$heightPd: 300px;
$headerHeight:8rem;
$navbox-sd :0px 0px 20px 1px rgba(0, 0, 0, 0.3);
